@import './../../styles/fonts';
@import './../../styles/elements';
@import './../../styles/page-layout';
@import './../../styles/video-card';

.home-page {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; 
}